.cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.cabin-sketch-bold-2 {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 70px; 
    animation: slidein 1s forwards;
  }

  @keyframes slidein {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.nav_container {
    background: #252b2be5;
    color: #fff;
    padding: 0;
}

h2{
    font-size: 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 5px;
}


.logo-img {
    height: 50px;
    width: auto;
}


.main_container {
    height: 100vh;
    color: #fff;
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    color: #070808;
    text-align: center;
    margin-bottom: 20%;
}


.btn {
    height: 35px;
    width: 120px;
    cursor: pointer;
    color: #252b2be5;
}

h2 {
    margin: 8px;
}

.footer_container {
    background: #252b2be5;
    color: #fff;
}

.custom-file-input {
    cursor: pointer;
    height: calc(1.5em + .75rem + 2px);
     padding: .375rem .75rem;  
    line-height: 1.5;
    border-radius: .25rem;
}

.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

.custom-file {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.custom-file-label {
    margin-right: auto; /* Moves the label to the left */
}

/* Additional styles for better responsiveness */
@media (max-width: 768px) {
    .nav_container {
        flex-direction: column;
        text-align: center;
    }

    .main_container {
        background-position: center center;
        background-size: cover;
        height: auto;
        padding: 20px;
    }

    .content {
        padding: 20px;
    }

    .footer_container {
        padding: 20px;
        position: static;
    }
}

.upload{
    width:50%;
    height: 30%;
}

.input-file {
    display: none;
}

.input-file + label {
    cursor: pointer;
}